header {
    background: #fff;
    padding: 30px 32px;
    box-shadow: 0 8px 18px rgba(0,0,0,.033);
    position: fixed;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    z-index: 100;
    overflow-x: auto;
    
}
header .container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
   
}

body {
    
    font-size: 16px;
    color: #333;
    background: #f5f5f5;
}
.heading{
	font-family: sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: purple;
    display: inline;
}
.search {
    margin-left: 64px;
    display: flex;
    
}
.search-input{
	display: flex;
	margin-top: 4px;
}
.search-input .search-label {
    height: 36px;
    border: 1px solid purple;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 330px;
    max-width: 330px;
}
.search-input .search-iconbutton {
    border-radius: 0 2px 2px 0;
    background: purple url(https://res.cloudinary.com/sivadass/image/upload/v1494692031/icons/search.png) 50% no-repeat;
    width: 96px;
    height: 36px;
    text-align: center;
    color: #fff;
    border: 0;
    font-weight: 400;
    padding: 0 16px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
.cart-items {
    display: flex;
    margin-left: 64px;
    position: relative;
    z-index: 99;
}
.cart-icon {
    margin-left: 16px;
    z-index: 99;
    position: relative;
    color: purple;
    cursor: pointer;
}
.cart-property table{
	color: purple;
	font-size: 15px;
}
.button-login{
	margin-top: 10px;
    color: purple;
    font-weight: bolder;
    margin-left: 33px;
    cursor: pointer;

}
.button-signup{
	margin-top: 10px;
 color: purple;
	font-weight: bolder;
	margin-left: 10px;
	cursor: pointer;
}
.each-product {
        min-height: 255px;
    background-color: #fff;
    /*margin-top: 180px;*/
    text-align: center;
    
}
.each-product:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.products-list{
	margin: auto;
	width: 85%;
	position: relative;
	top: 150px;

}
.images{
	height: 200px;
	width: 200px;
	text-align: center;
    cursor: pointer;
}
.product-name{
	color: #666;
    padding: 0 16px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
.product-price{
	color: #666;
    padding: 0 16px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;

}
.number-input {
    display: flex;
    display: -webkit-flex;
    color: #666;
    max-width: 120px;
    margin: 0 auto;
}
.number-input .decrement, .number-input .increment {
    height: 24px;
    width: 24px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.number-input .value-result {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid #ccc;
}
.each-product .product-button {
    padding: 16px;
}
.cart-add-button{
	    height: 36px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background: purple;
    border: 0;
    font-weight: 400;
    padding: 0 36px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
.item-image {
    display: flex;
    align-items: center;
    padding: 8px;
}
.cart-image-properties{
	height: 48px;
	width: 48px;
	/*margin-left: 5px;*/
}
.cart-products{
 padding-left: 2px;
}
.cart-add-product-properties{
	margin-left: 16px;
    flex-grow: 1;
}
.cart-add-product-name{
	color: #999;
    font-size: 14px;
}
.cart-add-product-price{
	color: #999;
    font-weight: 700;
}
.cart-add-product-total{
	margin-left: 84px;
}
.cart-add-product-type{
	color: #999;
    font-size: 14px;
    text-align: right;
}
.cart-add-product-total-amount{
	color: #333;
    font-weight: 700;
    text-align: right;
}
.cart-add-product-close{
	margin-left: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: #ccc;
    text-align: center;
}
.popover {
    max-width: 100%;
}
.images:hover{
	transition: transform .3s ease-in;
	
}

